@import "nib"
vendor-prefixes = webkit o ms moz official
// animacion(parametro)
// 	-webkit-animation parametro
// 	-moz-animation parametro
// 	-o-animation parametro
// 	-ms-animation parametro
// 	animation parametro
/*utilidades*/
.u-float-left
	float left
.u-float-right
	float right
.u-icon-span
	background #f00
	border-radius 2px
	box-shadow 0 1px 1px rgba(0, 0, 0, 0.2)
	font-size .6rem
	line-height 100%
	padding 2px 3px 3px
	position absolute
	right 5px
	top 4px

body
	background #0f4731 
	color #fff
	font-family: 'Lato', sans-serif
	font-size 16px
	font-weight 300
	text-shadow 0 0 3px rgba(255,255,255,0.4)	
.Header
	border-bottom 1px solid rgba(255,255,255,0.3)
	font-size 0
	height 3rem
.Header-box
	display inline-block
	height 3rem
.Header-DropBottom
	background-color rgba(black, .5)
	color white
	display inline-block
	font-size 1.5rem
	line-height 3rem
	text-align center
	text-decoration none
	text-shadow none
	transition .3s background
	width 3rem
	&:hover
		background black
.Header-brand
	background-color rgba(black, .23)
	color white
	display inline-block
	font-size 1.2rem
	line-height 3rem
	padding 0 1rem
	text-decoration none
	vertical-align top

/*estilos a los menus que se encuentran en el header*/
.HeaderNav
	display inline-block
	position relative
	vertical-align top
.HeaderNav-list
	display block
	height 3rem
	padding 0
.HeaderNav-item
	display inline-block
	font-size 1rem
	height 3rem
	width 3rem
	text-align center
	vertical-align top
.HeaderNav-link
	color white
	display block
	font-size 2rem
	line-height 3rem
	padding 0 .5rem
	position relative
	text-decoration none
	text-shadow none
	transition .3s background-color
	&:hover
		background-color rgba(black, .23)
.HeaderNav-subList
	display none
	padding 0
	position absolute
	right 0
	text-align left
	width 100%
.HeaderNav-subItem
	background-color rgba(black, .23)
	border-left 1px solid rgba(255,255,255,0.1)
	border-top 1px solid rgba(255,255,255,0.1)
	height 3rem
	list-style none
	&:nth-child(3)
		border-bottom 1px solid rgba(255,255,255,0.1)
.HeaderNav-subLink
	color white
	display block
	font-size 1.2rem
	line-height 3rem
	padding 0 .5rem
	text-decoration none
	transition .3s background-color
	&:hover
		background-color rgba(black, .5)
.HeaderNav-subIcon			
	color white
	font-size 1.5rem
	padding-right .5rem
	text-shadow none
.Header-imageContainer
	margin 0
	padding 0
.Header-avatar
	cursor pointer
	height 3rem
	opacity .7
	transition .3s opacity
	vertical-align top
	width 3rem

@media screen and (min-width:640px)
	body
		background url('../skins/skin-kiwi.jpg')
		background-attachment fixed
		background-size 100% 100%

	
