@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icons/icomoon.eot?-tecjkj');
	src:url('../fonts/icons/icomoon.eot?#iefix-tecjkj') format('embedded-opentype'),
		url('../fonts/icons/icomoon.woff?-tecjkj') format('woff'),
		url('../fonts/icons/icomoon.ttf?-tecjkj') format('truetype'),
		url('../fonts/icons/icomoon.svg?-tecjkj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
	content: "\e002";
}
.icon-bell:before {
	content: "\e006";
}
.icon-align-justify:before {
	content: "\e026";
}
.icon-search:before {
	content: "\e036";
}
.icon-menu:before {
	content: "\e600";
}