<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>dashboard</title>
	
	<link rel="stylesheet" href="../static/css/stylesheet.css">
	<link rel="stylesheet" href="../static/css/normalize-3.0.1.css">
	<link rel="stylesheet" href="../static/css/icon.css">
	<link rel="stylesheet" href="../static/css/dashboard_style.css">
</head>
<body>
	<header class="Header">
		<a href="" class="Header-DropBottom icon-menu"></a>
		<a href="" class="Header-brand icon-">Dashboard</a>
		<nav class="HeaderNav">
			<ul class="HeaderNav-list">
				<li class="HeaderNav-item">
					<a href="" class="HeaderNav--link icon-bell"><span class="icon-span">5</span></a>
				</li>
				<li class="HeaderNav-item">
					<a href="" class="HeaderNav--link icon-search"></a>
				</li>
			</ul>
		</nav>
	</header>
	
</body>
</html>