<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>dashboard</title>
	
	<link rel="stylesheet" href="../static/css/lane_font.css">

	<link rel="stylesheet" href="../static/css/normalize-3.0.1.css">
	<link rel="stylesheet" href="../static/css/icon.css">
	<link rel="stylesheet" href="../static/css/dashboard_style.css">
	
</head>
<body>
	<header class="Header">
		<div class="Header-box">
			<a href="" class="Header-DropBottom"><span class="icon-menu"></span> </a>
			<a href="" class="Header-brand"> <span class=""></span>Dashboard Brand</a>
		</div>		
		<nav class="HeaderNav">
			<ul class="HeaderNav-list">
				<li class="HeaderNav-item">
					<a href="" class="HeaderNav-link icon-mail"><span class="u-icon-span">15</span></a>
				</li>
				<li class="HeaderNav-item">
					<a href="" class="HeaderNav-link icon-bell"><span class="u-icon-span">5</span></a>
				</li>
				<li class="HeaderNav-item avatar-float">
					<figure id="submenu-avatar" class="Header-imageContainer">
						<img src="../static/images/avatar.jpg" alt="" class="Header-avatar">
					</figure>
					<ul class="HeaderNav-subList">
						<li class="HeaderNav-subItem">
							<a href="" class="HeaderNav-subLink"><span class="HeaderNav-subIcon icon-user"></span>Perfil</a>
						</li>
						<li class="HeaderNav-subItem">
							<a href="login.html" class="HeaderNav-subLink"><span class="HeaderNav-subIcon icon-outcoming"></span>Salir</a>
						</li>
						<li class="HeaderNav-subItem">
							<a href="" class="HeaderNav-subLink"><span class="HeaderNav-subIcon icon-lock"></span>Contraseña</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</header>
	<nav class="MainMenu">
		<ul class="MainMenu-list">
			<li class="MainMenu-item">
				<a href="#" class="MainMenu-link">
					<span class="MainMenu-icon icon-red"></span>
					Redes 
					<span class="iconDrop icon-down"></span>
				</a>
				<ul class="MainMenu-subList">
					<li class="MainMenu-subItem">
						<a href="#" class="MainMenu-sublink">
							sub menu
						</a>
					</li>
					<li class="MainMenu-subItem">
						<a href="#" class="MainMenu-sublink">
							sub menu
						</a>
					</li>
				</ul>
			</li>
			<li class="MainMenu-item">
				<a href="#" class="MainMenu-link">
					<span class="MainMenu-icon icon-graduate"></span>
					Academia
				</a>
			</li>
			<li class="MainMenu-item">
				<a href="#" class="MainMenu-link">
					<span class="MainMenu-icon icon-cent2"></span>
					Finanzas
				</a>
			</li>
			<li class="MainMenu-item">
				<a href="#" class="MainMenu-link">
					<span class="MainMenu-icon icon-gear"></span>
					Herramientas
					<span class="iconDrop icon-down"></span>
				</a>
				<ul class="MainMenu-subList">
					<li class="MainMenu-subItem">
						<a href="#" class="MainMenu-sublink">
							sub menu
						</a>
					</li>
					<li class="MainMenu-subItem">
						<a href="#" class="MainMenu-sublink">
							sub menu
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
	<section class="Content">
		<article class="Notification">
			<h2 class="Page-title">Dasboard title</h2>
			<ul class="Breadcrumb">
				<li class="Breadcrumb-item"><a href="" class="Breadcrumb-link Breadcrumb-slash">page</a></li>
				<li class="Breadcrumb-item"><a href="" class="Breadcrumb-link Breadcrumb-slash">page</a></li>
				<li class="Breadcrumb-item"><a href="" class="Breadcrumb-link">page</a></li>
			</ul>
		</article>
		<article class="ShortCuts-area">
			<a href="#" class="ShortCut-link">
				<divf class="ShortCut-item">
					<h2 class="ShortCut-count">526</h2>
					<p class="ShortCut-description">Redes</p>
					<span class="ShortCut-icon icon-tree"></span>
				</divf>	
			</a>
			<a href="#" class="ShortCut-link">
				<article class="ShortCut-item">
					<h2 class="ShortCut-count">526</h2>
					<p class="ShortCut-description">Discipulos</p>
					<span class="ShortCut-icon icon-users"></span>
				</article>
			</a>
			<a href="#" class="ShortCut-link">
				<article class="ShortCut-item">
					<h2 class="ShortCut-count">526</h2>
					<p class="ShortCut-description">Ofrendas</p>
					<span class="ShortCut-icon icon-coin"></span>
				</article>
			</a>
			<a href="#" class="ShortCut-link">
				<article class="ShortCut-item">
					<h2 class="ShortCut-count">526</h2>
					<p class="ShortCut-description">Estadisticas</p>
					<span class="ShortCut-icon icon-bars"></span>
				</article>
			</a>
		</article>
		
		<div class="col-7">
			<article class="Panel">
				<h2 class="Panel-title-dark">Formulario Horizontal</h2>
				<div class="Panel-content-light">
					<form action="" class="Form">
						<div class="Form-group">
							<label for="1" class="Form-label">nombre</label>
							<input type="text" id="1" class="col-12 Form-control Form-input-vertical"/>
						</div>
						<div class="Form-group">
							<label for="2" class="Form-label">apellido</label>
							<input type="text" id="2" class="col-12 Form-control Form-input-vertical"/>
						</div>
						<div class="Form-group">
							<label for="3" class="Form-label">direccion</label>
							<input type="text" id="3" class="col-12 Form-control Form-input-vertical"/>
						</div>
						<div class="Form-group">
							<label for="" class="Form-label">seleccione una opcion</label>
							<select class="col-12 Form-control Form-select">
								<option class="Form-option" value="volvo"></option>
								<option class="Form-option" value="saab">Saab</option>
								<option class="Form-option" value="mercedes">Mercedes</option>
								<option class="Form-option" value="audi">Audi</option>
								<option class="Form-option" value="audi">Audi</option>
								<option class="Form-option" value="audi">Audi</option>
								<option class="Form-option" value="audi">ultimo</option>
								<option class="Form-option" value="audi"></option>
							</select>
						</div>
						<div class="Form-group">
							<input type="radio" name="radio" class="Form-radio">
							<label for="" class="Form-label">masculino</label>
						</div>
						<div class="Form-group">
							<input type="radio" name="radio" class="Form-radio">
							<label for="" class="Form-label">femenino</label>
						</div>
						<div class="Form-group">
							<input type="checkbox" id="check" class="Form-radio">
							<label for="check" class="Form-label">masculino</label>
						</div>
						<div class="Form-group">
							<input type="submit" class="Button BTN-form"  value="enviar">
							<input type="submit" class="Button BTN-form"  value="Salir">
						</div>
					</form>
				</div>
			</article>
			<article class="Panel">
				<h2 class="Panel-title-dark">Formularios sueltos</h2>
				<div class="Panel-content-light">
					<form action="" class="Form">
						<div class="col-6 Form-group">
							<input type="text" id="1" class="col-12 Form-control Form-input-vertical" placeholder="Nombres"/>
						</div>
						<div class="col-6 Form-group">
							<input type="text" id="1" class="col-12 Form-control Form-input-vertical" placeholder="Apellidos"/>
						</div>
						<div class="col-6 Form-group">
							<input type="date" id="3" class="col-12 Form-control Form-input-vertical" placeholder="Edad"/>
						</div>
						<div class="col-6 Form-group">
							<input type="mail" id="3" class=" col-12 Form-control Form-input-vertical" placeholder="Email"/>
						</div>
						<div class="col-6 Form-group">
							<select class="col-12 Form-control Form-select" placeholder="">
								<option class="Form-option" value="">Departamento</option>
								<option class="Form-option" value="saab">Saab</option>
								<option class="Form-option" value="mercedes">Mercedes</option>
							</select>
						</div>
						<div class="col-6 Form-group">
							<select class="col-12 Form-control Form-select" placeholder="">
								<option class="Form-option" value="">Municipio</option>
								<option class="Form-option" value="saab">Saab</option>
								<option class="Form-option" value="mercedes">Mercedes</option>
							</select>
						</div>
						<div class="col-12 Form-group">
							<textarea name="" id="" cols="30" class="col-12 Form-control" placeholder="Direccion"></textarea>
						</div>
						<div class="col-3 Form-group">
							<input type="radio" name="radio" class="Form-radio">
							<label for="" class="Form-label">masculino</label>
						</div>
						<div class="col-3 Form-group">
							<input type="radio" name="radio" class="Form-radio">
							<label for="" class="Form-label">femenino</label>
						</div>
						<div class="col-3 Form-group">
							<input type="checkbox" id="check" class="Form-radio">
							<label for="check" class="Form-label">masculino</label>
						</div>
						<div class="Form-group">
							<input type="submit" class="Button BTN-form"  value="enviar">
							<input type="submit" class="Button BTN-form"  value="Salir">
						</div>
					</form>
				</div>
			</article>
			<article class="Panel">
				<table class="col-12 Table">
					<tr class="Table-row">
						<th class="Table-title">titulo</th>
						<th class="Table-title">titulo</th>
						<th class="Table-title">Estatus</th>
						<th class="Table-title">Boton</th>
					</tr>
					<tr class="Table-row">
						<td class="Table-field">campo</td>
						<td class="Table-field">campo</td>
						<td class="Table-field Table-fieldSuccess"><span class="icon-correct7"></span> Positivo</td>
						<td class="Table-field"><a href="#" class="Button BTN-link-success"><span class="icon-correct7"></span></a></td>	
					</tr>
					<tr class="Table-row">
						<td class="Table-field">campo</td>
						<td class="Table-field">campo</td>
						<td class="Table-field Table-fieldNegative"><span class="icon-cross"></span> Negativo</td>
						<td class="Table-field"><a href="#" class="Button BTN-link-negative"><span class="icon-cross"></span></a></td>
					</tr>
					<tr class="Table-row">
						<td class="Table-field">campo</td>
						<td class="Table-field">campo</td>
						<td class="Table-field Table-fieldInfo"><span class="icon-eye44"></span> Info</td>
						<td class="Table-field"><a href="#" class="Button BTN-link-info"><span class="icon-eye44"></span></a></td>
					</tr>
					<tr class="Table-row">
						<td class="Table-field">campo</td>
						<td class="Table-field">campo</td>
						<td class="Table-field Table-fieldDanger"><span class="icon-caution2"></span> Peligro</td>
						<td class="Table-field"><a href="#" class="Button BTN-link-danger"><span class="icon-caution2"></span></a></td>
					</tr>
				</table>
			</article>
		</div>
		<div class="col-5">
			<article class="Panel">
				<h2 class="Panel-title-dark">Informacion</h2>
				<ul class="Info-list">
					<li class="Info-item">
						<spam class="Info-icon icon-location1"></spam>
						<p class="Info-description">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						</p>	
					</li>
					<li class="Info-item">
						<spam class="Info-icon icon-call10"></spam>
						<p class="Info-description">
							(502) 5460-6633
						</p>	
					</li>
				</ul>
			</article>
			<article class="Panel">
				<h2 class="Panel-title-dark">liderazgo</h2>
				<ul class="Media-list">
					<li class="Media-item">
						<figure class="Media-imageContainer">
							<img class="Media-image" width="40" src="../static/images/avatar.jpg"></img>
						</figure>
						<a href="#"  class="Media-link">Enrique Mejias</a>	
						<span class="Media-info">hace 2 horas por Macario Pop</span>
					</li>
					<li class="Media-item">
						<figure class="Media-imageContainer">
							<img class="Media-image" width="40" src="../static/images/avatar.jpg"></img>
						</figure>
						<a href="#"  class="Media-link">Enrique Mejias</a>	
						<span class="Media-info">hace 2 horas por Macario Pop</span>
					</li>
				</ul>
			</article>

			<article class="Panel">
				<h2 class="Panel-title-dark">Titulo</h2>
				<div class="Panel-menu">
					<ul class="Panel-menuList">
						<li id="dropDown" class="Panel-menuItem">
							<a href="#"  class="Panel-menuLink"><span class="icon-down"></span>
							</a>
							<ul  id="dropDownList" class="DropDown-list">
								<li class="DropDown-item">
									<a href="" class="DropDown-link">Filtrar</a>
								</li>
								<li class="DropDown-item">
									<a href="" class="DropDown-link"> otro link</a>
								</li>
								<li class="DropDown-item">
									<a href="" class="DropDown-link"> otro link</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="Panel-content-light">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ipsam dolore accusamus laboriosam similique, ad neque facilis sapiente, dicta assumenda, accusantium ipsum corporis voluptate. Numquam, non. Veniam sequi nobis earum!
				</div>
				<h2 class="Panel-footer-dark">footer</h2>
			</article>
		</div>
	</section>
	<script src="../static/js/jquery-1.11.1.min.js"></script>
	<script src="../static/js/dashboard.js"></script>
</body>
</html>