<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Login CCP</title>
	<link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../static/css/normalize-3.0.1.css">
	<link rel="stylesheet" href="../static/css/icon.css">
	<link rel="stylesheet" href="../static/css/dashboard_style.css">
</head>
<body>
	<section class="Login-container">
		<article class="col-12 u-float-none">
			<article class="Panel">
				<figure class="Panel-container-image">
					<img class ="Panel-image" src="../static/images/logo/logo_transparent.png" alt="Mauqeta ccp" />
				</figure>
			</article>
		</article>
		<article class="col-10 u-display-block u-center-box u-float-none">
			<article class="Panel">
				<div class="Panel-content-light">
					<form action="dashboard.html" class="Form">
						<div class="Form-group">
							<input type="text"  id="user" class="col-12 Form-control Form-input-vertical" placeholder="Usuario ó email">
						</div>
						<div class="Form-group">
							<input type="password" id="pass" class="col-12 Form-control Form-input-vertical" placeholder="Contraseña">
						</div>
						<div class="Form-group">
							<input type="checkbox" id="remember" class="Form-radio">
							<label for="remember" class="Form-label">Recordarme!</label>
						</div>
						<div class="Form-group">
							<input type="submit" class="Button BTN-form"  value="Ingresar">	
						</div>
						<div class="Form-group">
							<a class="Panel-link" href="">¿Olvidaste tu usuario ó tu contraseña?</a>
						</div>
					</form>
				</div>
				
			</article>
		</article>
	</section>
</body>
</html>