<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Profile</title>
	<link rel="stylesheet" href="../static/css/lane_font.css">
	<link rel="stylesheet" href="../static/css/normalize-3.0.1.css">
	<link rel="stylesheet" href="../static/css/icon.css">
	<link rel="stylesheet" href="../static/css/dashboard_style.css">
</head>
<body>
	<header class="Header">
		<div class="Header-box">
			<a href="" class="Header-DropBottom"><span class="icon-menu"></span> </a>
			<a href="" class="Header-brand"> <span class=""></span>Dashboard Brand</a>
		</div>		
		<nav class="HeaderNav">
			<ul class="HeaderNav-list">
				<li class="HeaderNav-item">
					<a href="" class="HeaderNav-link icon-mail"><span class="u-icon-span">15</span></a>
				</li>
				<li class="HeaderNav-item">
					<a href="" class="HeaderNav-link icon-bell"><span class="u-icon-span">5</span></a>
				</li>
				<li class="HeaderNav-item avatar-float">
					<figure id="submenu-avatar" class="Header-imageContainer">
						<img src="../static/images/avatar.jpg" alt="" class="Header-avatar">
					</figure>
					<ul class="HeaderNav-subList">
						<li class="HeaderNav-subItem">
							<a href="" class="HeaderNav-subLink"><span class="HeaderNav-subIcon icon-user"></span>Perfil</a>
						</li>
						<li class="HeaderNav-subItem">
							<a href="login.html" class="HeaderNav-subLink"><span class="HeaderNav-subIcon icon-outcoming"></span>Salir</a>
						</li>
						<li class="HeaderNav-subItem">
							<a href="" class="HeaderNav-subLink"><span class="HeaderNav-subIcon icon-lock"></span>Contraseña</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</header>
	<nav class="MainMenu">
		<ul class="MainMenu-list">
			<li class="MainMenu-item">
				<a href="#" class="MainMenu-link">
					<span class="MainMenu-icon icon-red"></span>
					Redes 
					<span class="iconDrop icon-down"></span>
				</a>
				<ul class="MainMenu-subList">
					<li class="MainMenu-subItem">
						<a href="#" class="MainMenu-sublink">
							sub menu
						</a>
					</li>
					<li class="MainMenu-subItem">
						<a href="#" class="MainMenu-sublink">
							sub menu
						</a>
					</li>
				</ul>
			</li>
			<li class="MainMenu-item">
				<a href="#" class="MainMenu-link">
					<span class="MainMenu-icon icon-graduate"></span>
					Academia
				</a>
			</li>
			<li class="MainMenu-item">
				<a href="#" class="MainMenu-link">
					<span class="MainMenu-icon icon-cent2"></span>
					Finanzas
				</a>
			</li>
			<li class="MainMenu-item">
				<a href="#" class="MainMenu-link">
					<span class="MainMenu-icon icon-gear"></span>
					Herramientas
					<span class="iconDrop icon-down"></span>
				</a>
				<ul class="MainMenu-subList">
					<li class="MainMenu-subItem">
						<a href="#" class="MainMenu-sublink">
							sub menu
						</a>
					</li>
					<li class="MainMenu-subItem">
						<a href="#" class="MainMenu-sublink">
							sub menu
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
	<section class="Content">
		<article class="Notification">
			<h2 class="Page-title">Enrique Alfredo Mejias Campo</h2>
			<ul class="Breadcrumb">
				<li class="Breadcrumb-item"><a href="" class="Breadcrumb-link Breadcrumb-slash">page</a></li>
				<li class="Breadcrumb-item"><a href="" class="Breadcrumb-link Breadcrumb-slash">page</a></li>
				<li class="Breadcrumb-item"><a href="" class="Breadcrumb-link">page</a></li>
			</ul>
		</article>
		
		
	
		
		<div class="col-4">
			
			<article class="Panel">
				
				<h2 class="Panel-title-dark">Informacion</h2>
				<div class="Panel-menu">
					<ul class="Panel-menuList">
						<li id="dropDown" class="Panel-menuItem">
							<a href="#"  class="Panel-menuLink"><span class="icon-down"></span>
							</a>
							<ul  id="dropDownList" class="DropDown-list">
								<li class="DropDown-item">
									<a href="" class="DropDown-link">Editar</a>
								</li>
								<li class="DropDown-item">
									<a href="" class="DropDown-link">Asignar Usuario</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<figure class="Profile-container">
					<img src="../static/images/avatar.jpg" alt="" class="Profile-image">
					<p class="Profile-name">Enrique Alfredo Mejias Campo</p>
				</figure>
				<ul class="Info-list">
					<li class="Info-item">
						<spam class="Info-icon icon-red"></spam>
						<p class="Info-description">
							Lider - Red Jovenes
						</p>	
					</li>
					<li class="Info-item">
						<spam class="Info-icon icon-calendar2"></spam>
						<p class="Info-description">
							1985-04-20
						</p>	
					</li>
					<li class="Info-item">
						<spam class="Info-icon icon-home60"></spam>
						<p class="Info-description">
							Barrio el Porvenir, zona 1
						</p>	
					</li>
					<li class="Info-item">
						<spam class="Info-icon icon-location1"></spam>
						<p class="Info-description">
							San Benito, Peten
						</p>	
					</li>
					<li class="Info-item">
						<spam class="Info-icon icon-call10"></spam>
						<p class="Info-description">
							(502) 5460-6633
						</p>	
					</li>
					<li class="Info-item">
						<spam class="Info-icon icon-mail"></spam>
						<p class="Info-description">
							emejiasc85@gmail.com
						</p>	
					</li>
				</ul>
			</article>
		</div>
		<div class="col-8">
			<article class="ShortCuts-area">
			
			<article class="ShortCut-item">
				<h2 class="ShortCut-count">526</h2>
				<p class="ShortCut-description">Redes</p>
				<span class="ShortCut-icon icon-tree"></span>
			</article>	
			<article class="ShortCut-item">
				<h2 class="ShortCut-count">526</h2>
				<p class="ShortCut-description">Discipulos</p>
				<span class="ShortCut-icon icon-users"></span>
			</article>
			<article class="ShortCut-item">
				<h2 class="ShortCut-count">526</h2>
				<p class="ShortCut-description">Ofrendas</p>
				<span class="ShortCut-icon icon-coin"></span>
			</article>
			<article class="ShortCut-item">
				<h2 class="ShortCut-count">526</h2>
				<p class="ShortCut-description">Estadisticas</p>
				<span class="ShortCut-icon icon-bars"></span>
			</article>
			
		</article>
		</div>
	</section>		
</body>
	<script src="../static/js/jquery-1.11.1.min.js"></script>
	<script src="../static/js/live.js"></script>
	<script src="../static/js/dashboard.js"></script>
	<script src="../static/chart/js/highcharts.js"></script>
	<script src="../static/chart/js/modules/exporting.js"></script>
	<script src="../static/chart/js/themes/dark-unica.js"></script>
</html>